In [1]:
import pandas as pd
import numpy as np
import csv

N = 50

df = pd.DataFrame({
    'grp': np.random.randint(5, size=N),
    'val': np.random.randint(100, size=N)
})

In [2]:
df

    grp  val
0     3   51
1     4   10
2     4   87
3     3   97
4     2   45
5     1   29
6     2   60
7     4   82
8     2   84
9     0   73
10    2   56
11    0   26
12    0    6
13    3   95
14    0   99
15    2   30
16    1   72
17    3   87
18    1   13
19    1   20
20    0    1
21    4   22
22    2   36
23    2   89
24    1   40
25    1   33
26    0    6
27    3   12
28    2   42
29    1   93
30    4   35
31    2   95
32    1   28
33    2   58
34    2   40
35    1   79
36    1   29
37    2   44
38    0   33
39    0    5
40    0    7
41    0   17
42    3    6
43    4   50
44    3   66
45    0   51
46    4   29
47    3   51
48    1   57
49    0   73

In [3]:
df.to_csv('data.csv', index=False)

In [4]:
data = csv.reader(open('data.csv'), delimiter=';')
sortedlist = sorted(data, key=operator.itemgetter(0), reverse=False)

In [5]:
sortedlist

[['0,1'],
 ['0,17'],
 ['0,26'],
 ['0,33'],
 ['0,5'],
 ['0,51'],
 ['0,6'],
 ['0,6'],
 ['0,7'],
 ['0,73'],
 ['0,73'],
 ['0,99'],
 ['1,13'],
 ['1,20'],
 ['1,28'],
 ['1,29'],
 ['1,29'],
 ['1,33'],
 ['1,40'],
 ['1,57'],
 ['1,72'],
 ['1,79'],
 ['1,93'],
 ['2,30'],
 ['2,36'],
 ['2,40'],
 ['2,42'],
 ['2,44'],
 ['2,45'],
 ['2,56'],
 ['2,58'],
 ['2,60'],
 ['2,84'],
 ['2,89'],
 ['2,95'],
 ['3,12'],
 ['3,51'],
 ['3,51'],
 ['3,6'],
 ['3,66'],
 ['3,87'],
 ['3,95'],
 ['3,97'],
 ['4,10'],
 ['4,22'],
 ['4,29'],
 ['4,35'],
 ['4,50'],
 ['4,82'],
 ['4,87'],
 ['grp,val']]